*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* Primary colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral colors */
  --very-pale-blue: hsl(228, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  font-family: 'Red Hat Display', sans-serif;
  color: var(--desaturated-blue);
  -webkit-text-size-adjust: 100%; /* Prevent weird font scaling in iPhone/iPad landscape mode */
}

body {
  background-color: var(--pale-blue);
  background-image: url("images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6vw;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2 {
  color: var(--dark-blue);
  font-weight: 900;
  line-height: 1.2;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: .97rem;
}

a {
  font-weight: 700;
  color: var(--bright-blue);
}

a:hover,
a:active {
  text-decoration: none;
  color: hsl(245, 83%, 68%);
}

:focus-visible {
  outline: 4px solid orange;
}

p {
  line-height: 1.6;
}

.card {
  text-align: center;
  max-width: 28em;
  background-color: #FFFFFF;
  border-radius: 1.25em;
  box-shadow: 0 2em 2em -.75em hsla(224, 23%, 55%, 0.2);
}

header img {
  border-radius: 1.25em 1.25em 0 0;
}

.card .container {
  padding: 2.5rem 1.4rem;
}

.card__content {
  max-width: 22em;
  margin: 0 auto;
}

.card__content > * + * {
  margin-top: 2em;
}

.card__content > p {
  max-width: 92%;
  margin: 1.25em auto;
}

.price {
  background-color: var(--very-pale-blue);
  border-radius: .8em;
  padding: 1.1em 1em;
  padding: clamp(1em, 4vw, 1.5em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.price > * + * {
  margin-left: 1.25em;
}

.price__content {
  margin-right: auto;
}

.price button {
  font-size: .85rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  color: var(--bright-blue);
  text-decoration: underline;
}

button:active,
button:hover {
  text-decoration: none;
  color: hsl(245, 83%, 68%);
}

.button {
  text-decoration: none;
  color: var(--desaturated-blue);
  display: inline-block;
  font-size: .9rem;
  font-weight: 900;
}

.primary.button {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  border-radius: .8em;
  padding: 1em;
  width: 100%;
  box-shadow: 0 1.5em 1.5em hsl(245, 75%, 52%, .2);
}

.button:not(.primary):hover,
.button:not(.primary):active {
  color: var(--dark-blue);
}

.primary.button:hover,
.primary.button:active {
  background-color: hsl(245, 83%, 68%);
}

.attribution {
  margin: 1.5em auto 0;
  width: 80%;
}

@media (min-width: 900px) {
  body {
    background-image: url("images/pattern-background-desktop.svg");
  }
}